<html>
  {{template "header.tmpl.html"}}
<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/static/lang-logo.png">
    </a>
    <h1>This is a simple bot server for LINE</h1>
    <p class="alert alert-info text-center" role="alert">
      Please link to project site below to see detail usage.
    </p>
    <a type="button" class="btn btn-lg btn-default" href="http://github.com/BensonLiao/my-line-simple-bot"><span class="glyphiconglyphicon-flash"></span> Source on Github</a>
</div>

</body>
</html>
